<div class=" panel panel-default">
    {% if 'username' in session %}
        <ul class="nav nav-sidebar">
            <li>
                <a href="{{ url_for('new_category_item') }}">Add Item</a>
            </li>
        </ul>
    {% endif %}
    <div class="panel-heading">
        Latest Items
    </div>
    <ul class="nav nav-sidebar">
        {% for item in items %}
            <li>
                <a href="{{ url_for('view_category_item',category_name=item.category.name,item_name=item.name) }}">{{ item.name }}({{ item.category.name }})</a>
            </li>
        {% endfor %}
    </ul>

</div>